.web-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.web-brand {
    font-size: 2.25rem;
}

.web-brand:hover {
    text-decoration: none;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}